.App {
  min-height: 100vh;
  background-color: #F8FAFC;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0F172A;
}

.App-link {
  color: #0EA5E9;
}

.App-link:hover {
  color: #0284C7;
}